.about {
    display: flex;
    background-color: gray;
    height: 400px;   
}

.title {
    color: white;
    font-size: 25px;
    font-weight: 800;
    padding: 30px;
    text-transform: uppercase;
    padding-top: 50px;
    width: 50%;   
}

.info_description{
    color: white;
    display: inline-block;
    width: 80%;
    padding-top: 20px;
    padding-left: 30px;
}

.image {
    width: 730px;
    height: 400px;
    float: right;
}



