.adress {
   padding-left: 30px; 
   padding-top: 140px;
}

.information {
    display: inline-block;
    width: 57%;
    padding-left: 30px;
}

.contacts {
    float: right;
    padding-right: 50px;
    color: #8c1e32;
}

.adress h2 {
    padding-left: 5px;
    color: #8c1e32;
}

.contacts p {
    font-size: 18px;
    font-weight: bold;
}
