/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigations{
  display: flex;
  background-color: #424242;
  height: 40px;
}
.wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.searching{
  background-color: #ffffff;
  height: 65px;
  border-bottom: 1px solid grey;
}
.navigation > a{
  text-decoration: none;
  color: #ffffff;
  font-size: 90%;
}
.phone > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 90%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.selected{
  display: flex;
  height: 30px;
}
/* /////// */
.action{
  display: block; 
  text-align: center;
}
.action_btn{
  color: #E88848;
  text-decoration: none;
  font-size: 90%;
}
.icon_user{
  height: 30px;
}
.icon_love{
  height: 25px;
}
.logo{
  height: 50px;
  padding: 0;
  margin: 0;
}
.icon_search{
  height: 20px;
}
