.footer {
    background-color: #F2F3F5;
    bottom: 0;
    right: 0;
    left: 0;
    /* height: 110px;
    margin-top: -110px; */
    /* position: fixed; */
} 

.logo1 {
    display: flex;
    margin-top: 15px;
    padding-bottom: 15px;
}

.menu_bar{
    font-family: "bold", "arm-bold";
    display: flex;
}

.social1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
}

.copyrights{
    display: inline-block;
    font-size: 14px;
}

.social1 a {
    text-decoration: none;
    padding-left: 15px;
}

.menu_bar a {
    text-decoration: none;
    color: black;
    margin-left: 50px;
    padding-left: 30px;
}

.menu_bar a:hover {
    color: orange;
}

.img {
    vertical-align: middle;
} 

hr {
    margin: 0 40px 0 40px; 
}

.icon {
    width: 32px;
    height: 32px;
}
