

.form-group{
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-group .invalid-feedback{
  min-width:50%;
  width: auto;
}
.form-group .invalid-feedback{
  color: red;
}
.form-group>input{
  height: 40px;
}
h3{
  margin: 40px auto 20px !important;
  color:#666;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



.btn_submite{
  height: 40px;
    width: 294px;
    border-radius: 5%;
    font-size: 16px;
    background: #E88848;
    margin: auto;
    color: white;
    border: none;
}
.register_span{
    display: flex;
    justify-content: center;
}
form{
  width: 500px;
  height: 500px;
  margin: auto;
}

.register_span .nav-link{
  color: #E88848;
 text-decoration: none;
}
