/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.form-group{
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form-group .form-control,
.form-group .invalid-feedback{
  min-width:50%;
  width: auto;
}
.form-group .invalid-feedback{
  color: red;
}

h3{
  margin: 40px auto 20px !important;
  color:#666;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


/* hr.sep{
  margin: 5px auto 20px!important;
}  */
.btn_submite{
  height: 40px;
    width: 294px;
    border-radius: 5%;
    font-size: 16px;
    background: #E88848;
    margin: auto;
    color: white;
    border: none;
}
.register_span{
    display: flex;
    justify-content: center;
}

.register_span .nav-link{
  color: #E88848;
 text-decoration: none;
 /* text-align: center; */
}
